<<<<<<< HEAD
.login_form{
    border:2px solid black;
    height: auto;
    width: 30vw;
    margin: 10px;
    position: absolute;
}

=======
.login-form {
    border: 2px solid black;
    width: 25vw;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

td{
    padding: 5px;
}
>>>>>>> 87182675b5d6c6b3ec12e380e1b747649f9a82c3
