
.logo {
  height: 50px;
  width: 50px;
}
.head1{
  font-size: 25px;
  font-weight: bold;
  
}
.com_name{
  font-size: 20px;
  font-weight: semi-bold;
  align-items: center;
}
.icon{
  font-size: 20px;
}
.button_prof{
 border-radius: 50%;
 border-color: transparent;
 background-color: transparent;
 height: 50px;
 width: 50px;
}
.nav_text{
  font-weight:bold;
  text-align: center;
}
.scrolling-message {
  flex: 1;
  overflow: hidden;
  position: relative;
  margin-left: 30px;
  margin-top: 19px;
  white-space: nowrap;
  color: red;
}

.scrolling-message span {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}